* {
  margin: 0;
  padding: 0;
}
.search_user_repo {
  font-size: x-large;
  border: 2px solid black;
  padding: 10px;
}
.main_container {

  margin: auto;
  margin-top: 1%;
  min-height: min(calc(100vh - 14px), 700px);
  max-width: 1000px;
  border: solid 2px black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile_info_container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}
.profile_info {
  padding: 15px;
}
.link_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.profile_img_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(214, 214, 214);
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.bio {
  font-size: 16px;
}

.place {
  font-size: 14px;
}

.twitter {
  font-size: 14px;
  color: blue;
}
.twitter_link {
  text-decoration: none;
}

/* repo section style */
.repo_container {
  display: flex;
  flex-direction: column;
}
.repos {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.card {
  border: 2px solid #000000;
  padding: 10px;
  list-style: none;
  width: 40%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.card_topics {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
}

.card_topic {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(87, 164, 253);
  color: aliceblue;
}

.place_container {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.no_of_repo {
  width: 200px;
}

/* pagination */
.pagination_control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pagination_btn {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.no_of_repo {
  height: 20px;
}
.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page {
  border: 1px solid black;
  padding: 2px;
  width: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.active {
  background-color: rgb(87, 164, 253);
  color: aliceblue;
}

.page_nav_btn {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 50px;
}

.nav_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  color: rgb(87, 164, 253);
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.notactive {
  background-color: rgb(185, 183, 183);
  border: none;
  opacity: 0.5;
  cursor: not-allowed;
}
